#he1
{
    text-align: center;
    color:red;
    font-family: Verdana;
    font-style: italic;
    font-weight: bold;

}

#b1 {
  background-image: url('train.jpg');
  background-size: auto;
  background-position: center;
}

#p1 {
  text-align: 50px;
  font-weight: bold;
}

#but {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-right: 50px;
}

.container {
  padding: 16px;
  width :40%;
  margin: auto;
}

#form_page {
    height: 350px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    top:200px;

}

#form_body {
    border-radius: 12px;
    height: 200px;
    width: 450px;
    background-color: beige;
    border: 1px solid black;
    margin: auto;
    margin-top: 12px;
    padding: 25px;
}

button:hover {
  opacity: 0.8;
}

#options
{
  margin: auto;
  left:650px;
  top:20px;
}
